{% extends 'base.html.twig' %}

{% block title %}RH Conseil - Créer un compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
        {% endblock %}

{% block body %}
    <div id="RegistrationFormPage">

        <div class="RegistrationFormContainer">
            <div class="RegistrationFormTitles">
                <a href="{{ path('app_home') }}"><img src="{{ asset('build/images/rh-logo.f9ada5be.png') }}" alt="Rh Conseil" class="RegistrationFormLogo"></a>
                <h2>Créer un compte</h2>
                <p class="RegistrationFormToLogin">Ou <a href="{{ path('app_login') }}" class="RegistrationFormRedirect">connectez-vous</a></p>
            </div>
            <div class="RegistrationForm">
                <div class="RegistrationFormContent">
                {{ form_start(registrationForm) }}
                <div class="RegistrationFormInputs">
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                    <button type="submit" class="FormSubmit">Créer un compte</button>
                {{ form_end(registrationForm) }}
                </div>
                {#
                <div class="RegistrationFormSocials">
                    <div>
                        <div></div>
                        <div><span>Ou continuer avec</span></div>
                        <div></div>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
{% endblock %}
