{% extends 'base.html.twig' %}

{% block title %}RH Conseil - Nouvelle offre d'emploi{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Nouvelle offre d'emploi</h1>
    {{ form_start(offer_form) }}
    {{ form_row(offer_form.title) }}
    {{ form_row(offer_form.description) }}
    {{ form_row(offer_form.positions) }}
    {{ form_row(offer_form.location) }}
    {{ form_row(offer_form.salary) }}
    {{ form_row(offer_form.contrat_type) }}
    <button type="submit">Créer l'offre d'emploi</button>
    {{ form_end(offer_form) }}
</div>
{% endblock %}
