{% extends 'base.html.twig' %}

{% block title %}RH Conseil - Offres d'emploi{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Offres d'emploi</h1>
    {% for offer in offers %}
        <div>
            <h2>{{ offer.title }}</h2>
            <p>Nom de l'entreprise : {{ offer.recruiter.name }}</p>
            <p>{{ offer.description }}</p>
            <p>Type de contrat : {{ offer.contratType }}</p>
            <p>Salaire : {{ offer.description }} €</p>
            <p>Nombre de postes à pourvoir : {{ offer.positions }}</p>
            {#  <p>Date de publication : {{ offer.publishedAt }} </p>#}

            <a href="{{ path('app_candidate_send_application', {id: offer.id }) }}">Postuler maintenant</a>
        </div>
    {% endfor %}

</div>
{% endblock %}
